app-a/src/main/mule/app-a.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="37eda6e7-1a21-4456-b419-1e50ba8fdf6e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<sub-flow name="flow-b" doc:id="bbb49e64-d351-4d2f-bae8-554c5d9d5996" >
		<ee:transform doc:name="Transform Message1" doc:id="c66bcfbc-9cec-4da3-be3c-9c9ebfb3f9ea">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"response": "Response from Flow B"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="flow-a" doc:id="9955d797-cee8-4a28-b8f6-948b2337329d" >
		<ee:transform doc:name="Transform Message" doc:id="c3f55586-ea4a-49df-b5db-a6a8c3e356a3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"response": "Response from Flow A"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="app-aFlow" doc:id="8536ffbf-5d1a-455b-b9e7-330eb997e7cf" >
		<http:listener doc:name="Listener" doc:id="fa6cf438-a9df-43ba-bb69-28445ebc2745" config-ref="HTTP_Listener_config" path="/app-a"/>
		<choice doc:name="Choice" doc:id="4931c572-8c64-43d2-aa08-32e22c16d283" >
			<when expression='#[attributes.queryParams.flow =="a"]'>
				<flow-ref doc:name="Flow Reference" doc:id="50523fd7-ffbd-4d80-b404-4151546a805f" name="flow-a" />
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Reference" doc:id="ab8eb5d7-859d-4883-8887-f042f1a80598" name="flow-b"/>
			</otherwise>
		</choice>
	</flow>
</mule>
